/* tail windcss import */

@import "tailwindcss";
@plugin "daisyui";


/* google font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* @theme {
    --font-font-family: "Inter", sans-serif;
} */


body {
    font-family:"Inter", sans-serif ;
}

.banner_container {
    
    background-image: url('src/assets/banner/banner_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


/* about sliderr */

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 0px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 8px !important;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-something: grayscale;
    background-color: #e2e6ea !important;
    border-radius: 1rem !important;
    opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
    background-color: #05a845 !important;
}

